@import 'reset-css';
@import 'codemirror/lib/codemirror.css';

html[data-theme='dark'] {
  --background-color: #202020;
  --text-color: #fff;
}
html[data-theme='light'] {
  --background-color: #fff;
  --text-color: #202020;
}

body {
  line-height: 1.4;
  font-size: 16px;
  font-family: 'Inconsolata', monospace;
  color: var(--text-color);
  background-color: var(--background-color);
  padding: 0 24px;
}

.title {
  font-size: 5vh;
  padding-top: 5vh;
  text-align: center;
  font-weight: 700;
  line-height: 1;
  font-family: 'Arvo', serif;
}

.container {
  display: flex;
  align-items: center;
  max-width: 1000px;
  height: 80vh;
  margin: 0 auto;
  position: relative;
  border-radius: 2px;
}

button {
  cursor: pointer;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}

.container button {
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  color: #202020;
}

.editor {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

#json-editor {
  border-radius: 2px 0 0 2px;
}

#aml-editor {
  border-radius: 0 2px 2px 0;
}

.CodeMirror {
  font-family: 'Inconsolata', monospace;
  height: 100%;
}

.CodeMirror-lint-tooltip {
  font-family: 'Inconsolata', monospace;
}

.CodeMirror-lint-marker-warning,
.CodeMirror-lint-marker-error {
  position: fixed;
}

#theme {
  position: absolute;
  top: 24px;
  right: 48px;
  cursor: pointer;
  user-select: none;
  border: none;
  background-color: transparent;
  outline: none;
  padding: 0;
}
.sun {
  display: block;
}
.moon {
  display: none;
}

html[data-theme='light'] .sun {
  display: none;
}
html[data-theme='light'] .moon {
  display: block;
}

a {
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

footer a {
  color: var(--text-color);
}
